body::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #4f4d58;
}

body::-webkit-scrollbar-thumb {
  background-color: #252331;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 4rem;
  background-color: #13111C;
}
nav .logo {
  display: flex;
  justify-content: start;
  position: relative;
  border-radius: 50%;
}
nav .logo img {
  width: 3.5rem;
  height: 3.5rem;
}
nav .logo img:hover {
  cursor: pointer;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2.5rem;
  margin: 0;
  padding: 0;
}
nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #F7FF00;
  border-top: 2px solid transparent;
  color: #EECF07;
  font-weight: 600;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav ul li a:hover {
  color: #F7FF00;
}
nav .botones {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}
nav .botones .ingresar-btn {
  background-color: transparent;
  border: none;
  color: #EECF07;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav .botones .ingresar-btn:hover {
  color: #F7FF00;
}
nav .botones .unirme-btn {
  background-color: #F3B41E;
  border: 2px solid transparent;
  border-radius: 0.7rem;
  padding: 0.2rem 2rem;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
}
nav .botones .unirme-btn:hover {
  color: white;
  border: 2px solid white;
  transition: 0.3s ease;
}

.banner {
  margin: 0;
  background-image: url("img/banner.jpg");
  background-repeat: none;
  background-size: 100%;
  width: 100%;
  height: 86vh;
  overflow: hidden;
}
.banner .texto-banner {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 2.5rem 7rem;
  color: black;
}
.banner .texto-banner .impact {
  font-family: "Anton", sans-serif;
  width: 100%;
  font-weight: 400;
  font-size: 3.3rem;
  letter-spacing: 0.3rem;
  margin: 0;
  padding: 0;
  line-height: 3.5rem;
  margin-top: 2.5rem;
}
.banner .texto-banner .impact strong {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 3.3rem;
  letter-spacing: 0rem;
}
.banner .texto-banner .montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 1.8rem;
}
.banner .texto-banner .montserrat-bold {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}
.banner .texto-banner div {
  display: flex;
  gap: 0.5rem;
}
.banner .texto-banner div p {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.banner .texto-banner div .potencial {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
.banner .texto-banner button {
  background-color: #13111C;
  border: none;
  border-radius: 0.7rem;
  padding: 0.4rem 2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #EECF07;
  border: 2px solid transparent;
}
.banner .texto-banner button:hover {
  border: 2px solid white;
  color: white;
  transition: 0.3s ease;
}
.banner .img-banner {
  display: flex;
  position: relative;
  padding: 2.5rem 6rem;
  justify-content: center;
  flex-wrap: nowrap;
}
.banner .img-banner img {
  height: 190%;
  align-items: stretch;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(-40%);
}

.planes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4rem 15rem;
  background-color: #0f0e14;
  /*.borde {
      border: 2px solid rgba(255, 255, 255, 0.8);
      border-bottom: 0px;
  }*/
}
.planes h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: italic;
  color: white;
  letter-spacing: 0.125rem;
}
.planes .amarillo {
  color: #FEC53F;
  margin-bottom: 3rem;
}
.planes .fila {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 1rem;
}
.planes .fila p {
  flex: 2;
  color: white;
  margin: 0;
  line-height: 1.1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.planes .fila div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.planes .fila div .equis {
  width: 1.55rem;
}
.planes .fila div img {
  width: 2.2rem;
}
.planes .fila .duracion {
  flex: 1;
  text-align: center;
  font-weight: 700;
  font-size: 0.8rem;
}
.planes .clara {
  background-color: #FEC53F;
}
.planes .clara p {
  color: black;
  font-weight: 600;
}
.planes .precios {
  background-color: rgba(255, 255, 255, 0);
}
.planes .precios .desc {
  flex: 1;
  text-align: center;
  border-left: 2px solid rgba(255, 255, 255, 0.8);
}
.planes .precios small {
  flex: 1;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05rem;
  padding-bottom: 0.5rem;
  /*
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-right: white;
  */
}
.planes button {
  margin-top: 2.5rem;
  background-color: #F3B41E;
  border: 2px solid transparent;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.5rem 2.5rem;
  border-radius: 1rem;
}
.planes button:hover {
  color: white;
  background-color: rgba(46, 43, 59, 0.7960784314);
  border-color: white;
  transition: 0.3s ease;
}

.recursos-gym {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: #13111C;
  padding: 6rem 5rem;
  overflow: hidden;
}
.recursos-gym img.fondo {
  top: 0;
  position: absolute;
  width: 120%;
  filter: contrast(80%); /* brillo*/
  opacity: 15%;
}
.recursos-gym .texto {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}
.recursos-gym .texto-blanco {
  color: white;
}
.recursos-gym .texto-amarillo {
  color: #EECF07;
  margin-bottom: 4rem;
}
.recursos-gym .img-recursos {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  flex-wrap: nowrap;
}
.recursos-gym .img-recursos div {
  display: flex;
  position: relative;
  justify-content: center;
  height: 20rem;
  flex: 1;
  border: 2px solid white;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 1rem rgba(254, 197, 63, 0.7333333333);
}
.recursos-gym .img-recursos div:hover {
  box-shadow: 0.2rem 0.2rem 1rem rgba(254, 197, 63, 0.7333333333);
  transition: 0.2s ease;
}
.recursos-gym .img-recursos div img {
  width: 150%;
  height: auto;
  border-radius: 1rem;
}
.recursos-gym .img-recursos div P {
  width: 100%;
  padding: 0.8rem 0rem;
  position: absolute;
  text-align: center;
  bottom: 0;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  background-color: #13111C;
  border-top: 2px solid white;
  color: white;
}
.recursos-gym button {
  position: relative;
  margin-top: 4rem;
  padding: 0.7rem 2rem;
  background-color: #FEC53F;
  border: 2px solid white;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
}
.recursos-gym button:hover {
  background-color: #13111C;
  border: 2px solid white;
  color: white;
  transition: 0.3s ease;
}

.contacto {
  display: flex;
  width: 100%;
  background-color: #13111C;
}
.contacto .img-contacto {
  position: relative;
  flex: 1;
  overflow: hidden;
  align-items: center;
  box-shadow: 1rem 0.2rem 1rem #2A2828;
}
.contacto .img-contacto img {
  width: 120%;
}
.contacto form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.2745098039);
}
.contacto form h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.2rem;
}
.contacto form hr {
  width: 20%;
  border-top: 5px solid white;
  opacity: 1;
}
.contacto form div {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
  padding: 0rem 7rem;
}
.contacto form div input, .contacto form div textarea {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2588235294);
  border: none;
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem 1.2rem;
  resize: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: white;
  caret-color: #ffe600;
}
.contacto form div input::-moz-placeholder, .contacto form div textarea::-moz-placeholder {
  color: white;
}
.contacto form div input::placeholder, .contacto form div textarea::placeholder {
  color: white;
}
.contacto form button {
  margin-top: 2rem;
  border: 2px solid white;
  background-color: #FEC53F;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
}
.contacto form button:hover {
  background-color: #494752;
  border-color: #EECF07;
  color: #EECF07;
  transition: 0.3s ease-in-out;
}

.articulos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 6rem 9rem;
  background-color: #13111C;
}
.articulos h2 {
  font-weight: 900;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  color: #FFF700;
  letter-spacing: 0.2rem;
}
.articulos hr {
  width: 20%;
  border-top: 5px solid white;
  opacity: 1;
}
.articulos .img {
  display: flex;
  position: relative;
  gap: 5rem;
  width: 100%;
  margin-top: 3rem;
}
.articulos .img div {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;
  height: 17rem;
  border: 4px solid #FFF700;
  border-radius: 2rem;
  overflow: hidden;
}
.articulos .img div img {
  position: relative;
  width: 170%;
  opacity: 40%;
}
.articulos .img div .texto {
  display: flex;
  justify-content: end;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  border: none;
  border-radius: 0px;
  margin-bottom: 3.5rem;
  margin-left: -2.5rem;
}
.articulos .img div .texto p {
  position: relative;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: white;
}
.articulos .img div .texto small {
  color: #dfdede;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
.articulos .img div a {
  width: 50%;
  text-align: center;
  position: absolute;
  text-decoration: none;
  bottom: 0;
  padding: 0.5rem 1rem;
  border-top: 2px solid #FFF700;
  background-color: #FFF700;
  color: black;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.horarios {
  width: 100%;
  display: flex;
}
.horarios .info-horarios {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 3rem;
  background-color: #13111C;
}
.horarios .info-horarios img {
  position: absolute;
  width: 120%;
  filter: brightness(20%); /* brillo*/
  opacity: 90%;
}
.horarios .info-horarios div {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.horarios .info-horarios div h2 {
  position: relative;
  font-weight: 900;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}
.horarios .info-horarios div hr {
  position: relative;
  width: 20%;
  border-top: 5px solid white;
  opacity: 1;
}
.horarios .info-horarios div .amarillo {
  color: #FFF700;
}
.horarios .info-horarios p {
  width: 60%;
  position: relative;
  color: #FFF700;
  text-align: start;
  padding: 1rem 0rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}
.horarios .info-horarios div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  color: #FFF700;
  text-align: start;
}
.horarios .info-horarios div h6 {
  width: 19%;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-align: start;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 2px solid #F7FF00;
}
.horarios .info-horarios div p {
  text-align: center;
}
.horarios .img-horarios {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
  justify-content: center;
  box-shadow: -0.5rem -0.5rem 1.5rem rgba(211, 209, 209, 0.6588235294);
}
.horarios .img-horarios img {
  width: 120%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 1.5rem 2rem 5rem;
  width: 100%;
  background-color: #0f0e13;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}
footer div {
  display: flex;
  gap: 3.5rem;
  width: 100%;
}
footer div div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer div div h6 {
  padding-bottom: 0.5rem;
  border-bottom: 1.5px solid #F7FF00;
  color: #F7FF00;
  font-size: 0.9rem;
  font-weight: 600;
}
footer div div a {
  text-decoration: none;
  color: white;
}
footer div div p {
  color: white;
}
footer div .llamada {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-left: 1.5rem;
  margin-top: 0.8rem;
}
footer div .llamada h4 {
  color: #F7FF00;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
footer div .llamada button {
  color: black;
  background-color: rgba(246, 255, 0, 0.8431372549);
  border: 2px solid transparent;
  border-radius: 1rem;
  padding: 0.7rem 1.8rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.1rem;
}
footer div .llamada button:hover {
  opacity: 0.85;
  border-color: white;
}
footer div .img-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
footer div .img-footer img {
  width: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
}




.foro-form {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  margin-bottom: 1.2rem;
}
.foro-form label {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
}

.foro-form .input {
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  outline: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  background-color: #492e648c;
}

.foro-form .input::placeholder {
  color: rgb(151, 151, 151);
}

.foro-form .input:hover {
  border-color: #492e648c;
}

.foro-form .input:focus {
  border-color: #492e648c;
  background-color: #69488a8c;
}

.foro-form button {
  width: 10rem;
  align-items: start;
}

.foro {
  background-color: #13111C;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3{
  width: 90%;
  text-align: start;
  color: #eeeee2 !important;
  margin-bottom: 1rem;
}

.iconos {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.iconos a {
  display: flex;
  text-decoration: none;
  color: white;
  transition: .2s ease;
}

.iconos p {
  color: white;
}

.iconos a:hover {
  color: #ccc;
}

/*# sourceMappingURL=index.css.map */